In [2]:
%matplotlib inline
from pandas import Series, DataFrame
import pandas as pd
import numpy as np
import os
import matplotlib.pylab as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
import sklearn.metrics
from sklearn import datasets
from sklearn.ensemble import RandomForestClassifier

In [6]:
data = pd.read_csv("big.csv")

/srv/conda/envs/notebook/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3072: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [7]:
data.head(10)

,date,routeCode,serviceVehicle,tripId,vehicleId,patternId,tripDirection,tripLength,stopSequenceNr,stopCode,...,passengerCountDoor3Down,passengerCountDoor4Up,passengerCountDoor4Down,passengerCountDoor5Up,passengerCountDoor5Down,passengerCountDoor6Up,passengerCountDoor6Down,isRedirection,isDelocalisation,isRelocalisation
0,2012-10-01 00:00:00,E,E-2,27098313,101,4,A,13331,1,RIVE03,...,0,2,3,0,0,0,0,N,N,N
1,2012-10-01 00:00:00,E,E-2,27098313,101,4,A,13331,2,VOLL02,...,0,0,0,0,0,0,0,N,N,N
2,2012-10-01 00:00:00,E,E-2,27098313,101,4,A,13331,3,PLGE01,...,0,0,0,0,0,0,0,N,N,N
3,2012-10-01 00:00:00,E,E-2,27098313,101,4,A,13331,4,CRIG00,...,0,0,0,0,0,0,0,N,N,N
4,2012-10-01 00:00:00,E,E-2,27098313,101,4,A,13331,5,MGRE00,...,0,0,0,0,0,0,0,N,N,N
5,2012-10-01 00:00:00,E,E-2,27098313,101,4,A,13331,6,TCRE00,...,0,0,0,0,0,0,0,N,N,N
6,2012-10-01 00:00:00,E,E-2,27098313,101,4,A,13331,7,RUTH00,...,0,0,0,0,0,0,0,N,N,N
7,2012-10-01 00:00:00,E,E-2,27098313,101,4,A,13331,8,BOIS00,...,0,0,0,0,0,0,0,N,N,N
8,2012-10-01 00:00:00,E,E-2,27098313,101,4,A,13331,9,BLTE00,...,0,0,0,0,0,0,0,N,N,N
9,2012-10-01 00:00:00,E,E-2,27098313,101,4,A,13331,10,VSNA00,...,0,0,0,0,0,0,0,N,N,N

In [8]:
data.isnull().sum()

date                           0
routeCode                    176
serviceVehicle                17
tripId                         0
vehicleId                      0
patternId                      0
tripDirection                  0
tripLength                     0
stopSequenceNr                 0
stopCode                       0
stopLength                     0
stopTimeSchedule           14788
stopTimeReal                   0
passengerCountTripUp           0
passengerCountTripDown         0
passengerCountStopUp           0
passengerCountStopDown         0
passengerLoadStop              0
passengerCountDoor1Up          0
passengerCountDoor1Down        0
passengerCountDoor2Up          0
passengerCountDoor2Down        0
passengerCountDoor3Up          0
passengerCountDoor3Down        0
passengerCountDoor4Up          0
passengerCountDoor4Down        0
passengerCountDoor5Up          0
passengerCountDoor5Down        0
passengerCountDoor6Up          0
passengerCountDoor6Down        0
isRedirection                  0
isDelocalisation               0
isRelocalisation               0
dtype: int64

In [9]:
data_clean = data.dropna()

In [10]:
data_clean.isnull().sum()

date                       0
routeCode                  0
serviceVehicle             0
tripId                     0
vehicleId                  0
patternId                  0
tripDirection              0
tripLength                 0
stopSequenceNr             0
stopCode                   0
stopLength                 0
stopTimeSchedule           0
stopTimeReal               0
passengerCountTripUp       0
passengerCountTripDown     0
passengerCountStopUp       0
passengerCountStopDown     0
passengerLoadStop          0
passengerCountDoor1Up      0
passengerCountDoor1Down    0
passengerCountDoor2Up      0
passengerCountDoor2Down    0
passengerCountDoor3Up      0
passengerCountDoor3Down    0
passengerCountDoor4Up      0
passengerCountDoor4Down    0
passengerCountDoor5Up      0
passengerCountDoor5Down    0
passengerCountDoor6Up      0
passengerCountDoor6Down    0
isRedirection              0
isDelocalisation           0
isRelocalisation           0
dtype: int64

In [11]:
num_of_numerical_cols = data_clean._get_numeric_data().columns.shape[0]
print(num_of_numerical_cols, 'numerical columns')
name_of_numerical_cols = data_clean._get_numeric_data().columns
print(name_of_numerical_cols)

23 numerical columns
Index(['tripId', 'vehicleId', 'patternId', 'tripLength', 'stopSequenceNr',
       'stopLength', 'passengerCountTripUp', 'passengerCountTripDown',
       'passengerCountStopUp', 'passengerCountStopDown', 'passengerLoadStop',
       'passengerCountDoor1Up', 'passengerCountDoor1Down',
       'passengerCountDoor2Up', 'passengerCountDoor2Down',
       'passengerCountDoor3Up', 'passengerCountDoor3Down',
       'passengerCountDoor4Up', 'passengerCountDoor4Down',
       'passengerCountDoor5Up', 'passengerCountDoor5Down',
       'passengerCountDoor6Up', 'passengerCountDoor6Down'],
      dtype='object')